
header {
    padding: 0.5rem;
    border-radius: 4px;
    background: linear-gradient(#505a5d, #717678);
    font-size: 1.25rem;
    box-shadow: 0 0 8px rgba(25, 25, 24, 0.7);
    display: flex;
    gap: 1rem;
    align-items: center; // <--- Changed from flex-start to center
    margin-bottom: 2rem;
    vertical-align: middle;
    justify-content: space-between;

    img {
        width: 4rem;
        height: 4rem;
        vertical-align: middle;
    }
    
    h1 {
        text-align: left;
        margin: 0;
    }

    .user-info {
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        vertical-align: middle;
    
        
        img{
            border-radius: 50%;
            width: 40px;
            height: 40px;
        }
    
        > * {
            margin-right: 10px;
            margin-left: 10px;
            vertical-align: middle;
        }

        h3 {
            font-size: 1rem;
        }
      }
}

 
