
<article class="timer" [class.running]="isRunning" [class.IsLoaded]="isLoaded">    
    @if (isLoaded) {
    <div class="title">
        <h3>{{ title() }}</h3>
        <div class="controls">
            @if(isRunning){
                <button (click)="stop()" appButton>❚❚</button>
            }
            @else {
                <button (click)="start()" appButton>►</button>
            }
        </div>
    </div>
    <div class="time">
        <p>{{ formatTime(elapsedTime) }}</p>
    </div>
}@else{
    <div class="loading-overlay" >
        <img src="assets/loading.gif" alt="Loading...">
    </div>

}
</article>